@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(img/bg.jpg) no-repeat top fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
}
 .container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #34495E;
  background-color: rgba(255,255,255,0.8);
  border-radius: 12px;
  padding: 15px;
}
.container h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #FBD114;
  margin-bottom: 10px;
  padding: 5px 0;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 100%;
  padding: 5px 0;
  margin: 20px 0;
  border-bottom: 1px solid #FBD114;
}
.textbox i{
  width: 25px;
  float: left;
  text-align: center;
  padding-top: 8px;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: #34495E;
  font-size: 20px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.botao{
  width: 100%;
  background: none;
  border: 2px solid #FBD114;
  border-radius: 12px;
  color: #34495E;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
}

